.box {
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
  min-height: 100px;
  width: 88%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  background-color: #E86A33;
  border-radius: 20px;
  text-justify: distribute;
}

.desc {
  text-align: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 6px;
}

.card {
  flex: 1;
  max-width: calc(33.33% - 20px);
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 350px;
  height: fit-content + 10px;
  border: 0x solid #000;
  border-radius: 20px;
  background-color: #41644a;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
}

.card-image {
  width: 95%;
  height: 0;
  padding-bottom: 80%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 4px solid #f2e3db;
}

.card-image img {
  max-width: 100%;
  height: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
}


h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: xx-large;
  color:#f2e3db;
}

.card-content h3 {
  color: black;
}

.card-content p {
  font-size: 44px;
}

.card-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5px;
}

.card-button {
  display: flex;
  size-adjust: 25% ;


}